:root {
    --color-primary: #f6aca2;
    --color-secondary: #f49b90;
    --color-tertiary: #f28b7d;
    --color-quaternary: #f07a6a;
    --color-quinary: #ee6352;
  }
  
  .body1{
    /* min-height: 100vh;
    font-weight: 50px;
    font-size: 10px; */
    margin: 20px;
    background-color: #eff8e2;
  }
  
  .div1 {
    
    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-between; 
  }
  .logo
{
    height: 70px;
    width: 70px;

}
.text-shadows {
    text-shadow: 3px 3px 0 var(--color-secondary);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 30;
    text-transform: uppercase;
    font-size: calc(1rem + 4vw);
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    animation: shadows 1.2s ease-in infinite; 
    letter-spacing: 0.4rem;
    padding-left: 60px;
    
  }
  
  @keyframes shadows {
    0% {
      text-shadow: none;
    }
    10%
    {
      transform: translate(-3px, -3px);
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% { 
      transform: 
      translate(-6px, -6px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
     30% { 
      transform: translate(-9px, -9px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% { 
      transform: translate(-12px, -12px);
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    } 
  }
  #div2>img
  {
      width:1223px;
      height: 490px;
  }
  #city{
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: bold;
  }
  #allsummary{
    font-size: 30px;
    margin-left: auto;
  margin-right: auto;
  width: 1010px;
  
    font-style: normal;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Kalam','Lobster', cursive;
    /* font-family: 'Kalam', cursive; */
    word-wrap:break-word;
    text-align: center;

  }
  #allsummary > .div5{
    background-repeat: no-repeat;
    background-image: url("../Images/bg2.jpg"); 
     padding: 75px;
    }
  #allsummary > .div6{
    background-repeat: no-repeat;
  
    background-image: url("../Images/bg4.jpg");
     background-size:100%;
     
    
    padding: 75px;
     margin-bottom: 10px;
     margin-top: 10px;
    }
  #allsummary > .div6 >.div7{
    font-size: 38px;
    font-weight: bold;
    }
    #allsummary > h3{
      background-repeat: no-repeat;
      
      padding: 75px;
      font-size: 60px;
      font-weight: bold;
      }
  .div3{
    font-size: 25px;
    align-items: center;
    
  }
  #myImage
  {
   
    display: block;
  margin-left: auto;
  margin-right: auto;
  
  }
  #cname
  {
     visibility: hidden;
  }
  .div4
  {
    width: 1050px;
    margin-left: auto;
  margin-right: auto;
  }
  label
  {
    padding: 10px;
  }
  span
  {
    color: rgba(7, 5, 5, 0.801);
    font-weight: bold;
    font-size: 45px;
  }
  .aa
  {
    background: "https://www.shutterstock.com/image-photo/used-photo-cardboard-texture-scrapbook-260nw-333069320.jpg";
  }